{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}<title>ASR</title> {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <!--Librerias rrdTool-->
    <script type="text/javascript" src="{% static 'assets/rrdTool/q-5.0.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/rrdTool/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/rrdTool/moment-timezone-with-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/rrdTool/rrdGraphPng.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/rrdTool/rrdGraphCtrl.js' %}"></script>


<!--Script rrdTool--->
 <script type="text/javascript">
        q.ready(function(){

            // 'activate' the charts
            var graphs = [];
            q('.graph').forEach(function(item){
                graphs.push(
                    q(item).rrdGraphPng({
                        canvasPadding: 120,
                        initialStart: null
                    })
                );
            });

            // crate a control panel and attach it to the charts
            q('#ctrl').rrdGraphCtrl(graphs,{
                initialTimeRange: 'Last 60 Minutes',
                resetTimeOnDateChange: true
            });

            // you can also remove all the magic again
            q('#rebinder').on('click',function(){
                // q('#ctrl').dispose();
                q('.graph').dispose();
                q('.graph').forEach(function(item){
                    graphs.push(
                        q(item).rrdGraphPng({
                        canvasPadding: 120,
                        initialStart: null
                        })
                    );
                });
                q('#ctrl').rebind(graphs);
            });
        });
    </script>

</head>
<body>


        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/"><img src="{% static 'images/Logo.png'%}" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="/"><img src="{% static 'images/logo2.png' %}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"> <i class="menu-icon fa fa-dashboard"></i>Inicio</a>
                    </li>
                    <h3 class="menu-title">Opciones</h3><!-- /.menu-title -->
                    <li>
                        <a href="./"> <i class="menu-icon fa fa-laptop"></i>Administrar agentes</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                </div>
            </div>
        </header><!-- /header -->
        <!-- Header-->


        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Agente</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Estado Agente</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>



        <div class="content mt-3">

        <!------------------------------Graficas------------------------------------>
            <p>Host:  {{ host }}</p>
            <p>Comunidad:  {{ comunidad }}</p>
        <!--Obtenemos datos del agente-->


     <div id="ctrl"></div>


        <div><img
            style="width:695px;height:238px" class="graph"
            data-src-template="{% static "graphs/"|add:host|add:"_traffic.png" %}?width={{width}}&amp;height={{height}}&amp;start={{start}}&amp;end={{end}}&amp;zoom={{zoom}}&amp;rand={{random}}"
        /></div>

        <div><img
            style="width:695px;height:238px" class="graph"
            data-src-template="{% static "graphs/"|add:host|add:"_tcpTraffic.png" %}?width={{width}}&amp;height={{height}}&amp;start={{start}}&amp;end={{end}}&amp;zoom={{zoom}}&amp;rand={{random}}"
        /></div>
        <div><img
            style="width:695px;height:238px" class="graph"
            data-src-template="{% static "graphs/"|add:host|add:"_udpTraffic.png" %}?width={{width}}&amp;height={{height}}&amp;start={{start}}&amp;end={{end}}&amp;zoom={{zoom}}&amp;rand={{random}}"
        /></div>

        <div><img
            style="width:695px;height:238px" class="graph"
            data-src-template="{% static "graphs/"|add:host|add:"_pingTraffic.png" %}?width={{width}}&amp;height={{height}}&amp;start={{start}}&amp;end={{end}}&amp;zoom={{zoom}}&amp;rand={{random}}"
        /></div>
        <div><img
            style="width:695px;height:238px" class="graph"
            data-src-template="{% static "graphs/"|add:host|add:"_icmpTraffic.png" %}?width={{width}}&amp;height={{height}}&amp;start={{start}}&amp;end={{end}}&amp;zoom={{zoom}}&amp;rand={{random}}"
        /></div>





    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


    <script src="{% static 'assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/country/jquery.vmap.world.js' %}"></script>



<!--  flot-chart js -->
    <script src="{% static 'assets/js/lib/flot-chart/excanvas.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/jquery.flot.time.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/curvedLines.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/flot-chart/flot-chart-init.js' %}"></script>

  </body>
</html>
